    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Каталог </a>
      </li> 
    <!--  <li class="nav-item">  
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books-list' %}" >Новинки</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Справочники</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'wordbook:authors-list' %}">Авторы</a>
          <a class="dropdown-item" href="{% url 'wordbook:series-list' %}">Серии</a>
          <a class="dropdown-item" href="{% url 'wordbook:genres-list' %}">Жанры</a>
          <a class="dropdown-item" href="{% url 'wordbook:publishers-list' %}">Публикации</a>

        </div>
      </li>
    </ul>